.subtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}

.subtitle {
    font-size: 2rem;
    color: #4A7A63;
    margin: 0 10px;
    text-align: center;
}

.grass {
    width: 50px;
    height: auto;
}

.left-grass {
    margin-right: -10px;
}

.right-grass {
    margin-left: -10px;
}