/* Header and Footer */

header {
  background-color: #4CAF50;
  color: #F4F1DE;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #F4F1DE;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background-color: #282319f3;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

body {
  background-color: #F4F1DE;
}