/*Animation Details (Avoid Clutter)*/
/* MIGHT DELETE this if we dont need it*/

@keyframes slide-show {
    0% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.portfolio-slide-show {
    display: flex;
    overflow: hidden;
    width: 100%;
    /* Ensure the container takes up the full width */
    animation: slide-show 9s infinite;
}

/* Optional: Pause animation on hover */
.portfolio-slide-show:hover {
    animation-play-state: paused;
}

/* Optional: Add transition effect to images if desired */
.portfolio-slide-show img {
    transition: transform 0.5s ease;
    width: 100%;
    height: 300px;
    object-fit: cover;
}